<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registracija</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>


<div class="header">
    <div class="row box">
        <div class="row">

            <div class="logo">
                <img th:src="@{/images/md_logo.svg}"/>
            </div>
        </div>
        <div class="row content">
            <div class="title">
                <h1>Moderni Diena</h1>
            </div>
        </div>
    </div>
</div>

<div class="navbar">
    <a href="index.html">Pagridinis</a>
</div>

<div class="row">
    <div class="col-5">
        <form method="post" action="#" th:action="@{/registration}" th:object="${registrationForm}">
            <div class="row">
                <div class="col-5">
                    <label>Slapyvardis</label>
                </div>
                <div class="col-7">
                    <input th:field="*{nickname}" type="text" placeholder="Slapyvardis..."/>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label>Slaptažodis</label>
                </div>
                <div class="col-7">
                    <input th:field="*{password}" type="password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label>El-paštas</label>
                </div>
                <div class="col-7">
                    <input th:field="*{email}" type="text" placeholder="El- paštas..."/>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label>Pilnas vardas</label>
                </div>
                <div class="col-7">
                    <input th:field="*{name}" type="text" placeholder="vardas pavardė..."/>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input type="submit" value="Registruotis"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-1">
        <p th:text="${error}"></p>
    </div>
</div>

</body>
</html>